He decidido escoger dos datasets sobre fútbol internacional:
   - El primero es sobre los resultados de todos los partidos jugados.
   - El segundo es sobre todos los goleadores de esos partidos.

Mi idea inicial es preguntarme:

1. **Distribución de goles:**
   - ¿Cuál es la distribución de la cantidad de goles por partido?
   - ¿En que minutos se marcan mas goles? (El madrid en champions a partir de 90 pero en selecciones no lo sabemos)
   
2. **Tendencias temporales:**
   - ¿Cómo ha cambiado la cantidad de goles a lo largo de los años?
   - ¿Existen períodos específicos con más o menos goles?

3. **Equipos destacados:**
   - ¿Cuáles son las seleciones que han marcado más goles en promedio por partido?
   - ¿Cuáles han recibido más goles?
   - ¿Quienes son los goleadores de cada época y sus rivales favoritos?

4. **Análisis de local y visitante:**
   - ¿Existen diferencias significativas en la cantidad de goles marcados en casa y fuera?, principales equipos en cada una de ellas
   

5. **Partidos destacados:**
   - ¿Cuáles son los partidos con la mayor cantidad de goles y donde se concentran temporalmente?
   

6. **Desempeño en torneos:**
   - ¿Cómo varía la cantidad de goles en los diferentes torneos?
   

7. **Análisis geográfico:** (para esto necesitaria otro data set con los paises, podria sacarlo mediante api para completar el EDA)
    - ¿Hay diferencias en la cantidad de goles marcados en diferentes regiones geográficas?
    - ¿Que continente ha ganado mas partidos?

In [2]:
import pandas as pd

In [3]:
df_r = pd.read_csv("./data/results.csv")
df_g = pd.read_csv("./data/goalscorers.csv")

In [4]:
df_r

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
45310,2023-11-21,Wales,Turkey,1,1,UEFA Euro qualification,Cardiff,Wales,False
45311,2023-11-21,Croatia,Armenia,1,0,UEFA Euro qualification,Zagreb,Croatia,False
45312,2023-11-21,Andorra,Israel,0,2,UEFA Euro qualification,Andorra la Vella,Andorra,False
45313,2023-11-21,Kosovo,Belarus,0,1,UEFA Euro qualification,Pristina,Kosovo,False
45314,2023-11-21,Romania,Switzerland,1,0,UEFA Euro qualification,Bucharest,Romania,False

In [5]:
df_g

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False
...,...,...,...,...,...,...,...,...
43184,2023-11-21,Greece,France,France,Youssouf Fofana,74.0,False,False
43185,2023-11-21,Kosovo,Belarus,Belarus,Dmitry Antilevsky,43.0,False,False
43186,2023-11-21,Romania,Switzerland,Romania,Denis Alibec,50.0,False,False
43187,2023-11-21,Wales,Turkey,Wales,Neco Williams,7.0,False,False
43188,2023-11-21,Wales,Turkey,Turkey,Yusuf Yazıcı,70.0,False,True

In [6]:
df_g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43189 entries, 0 to 43188
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       43189 non-null  object
 1   home_team  43189 non-null  object
 2   away_team  43189 non-null  object
 3   team       43189 non-null  object
 4   scorer     43139 non-null  object
 5   minute     42929 non-null  float64
 6   own_goal   43187 non-null  object
 7   penalty    43187 non-null  object
dtypes: float64(1), object(7)
memory usage: 2.6+ MB

In [7]:
df_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45315 entries, 0 to 45314
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45315 non-null  object
 1   home_team   45315 non-null  object
 2   away_team   45315 non-null  object
 3   home_score  45315 non-null  int64
 4   away_score  45315 non-null  int64
 5   tournament  45315 non-null  object
 6   city        45315 non-null  object
 7   country     45315 non-null  object
 8   neutral     45315 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB